.pfp {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.hero {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 118, 121, 0.3925945378151261) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
}

.skill-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(9, 118, 121, 0.3925945378151261);
}

.skill-row {
  margin-left: 20px;
}

h1 {
  font-family: "Playfair", serif;
  font-weight: 300;
}

h2,
h3,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
