@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

h1 {
  font-family: "Playfair", serif;
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}

.pfp {
  border-radius: 50%;
}

h6,
.card-title,
.fs-2 {
  color: #0d6efd;
}
.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #b2beb5;
}

.project {
  height: 100%;
}

@media (max-width: 496px) {
  .pfp {
    margin-top: 50px;
  }
}
